
body {
  background: #190019
}

.container {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  max-width: 900px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.input-box {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  width: 100%;
}

#taskinput {
  font-size: 20px;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  border: none;
  background-color: #52285B;
  margin-bottom: 20px;
  color: #FBE4D8;
  border-radius: 4px;
  padding: 18px;
  flex: 1;
  min-width: 0;
}

#taskinput::placeholder {
  color: #FBE4D8;
}
#AddTask {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  border: none;
  background-color: #52285B;
  width: 80px;
  color: #FBE4D8;
  border-radius: 4px;
  margin-bottom: 20px;
}
#clearCompleted {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  border: none;
  background-color: #52285B;
  color: #FBE4D8;
  border-radius: 4px;
  width: 80px;
  margin-bottom: 20px;
}

#AddTask,
#clearCompleted {
  white-space: nowrap;
}

@media (max-width: 600px) {
  #AddTask,
  #clearCompleted {
    padding: 10px 10px;
    font-size: 14px;
  }
}

#tasklist {
  display: flex;
  flex-direction: column;
}

.taskshtml {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
  padding: 15px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
  background-color: #461649;
  color: #FBE4D8;
  font-size: 20px;
}

.delete-button {
  padding: 10px;
  border-radius: 4px;
  width: auto;
  border: none;
  background-color:#461649;; 
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif; 
  color: #FBE4D8;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 10px;
}

.task_counter {
  font-size: 22px;
  color: #FBE4D8;
}

.completedtask {
  text-decoration: line-through;
  color: gray;
}

#AddTask:hover,
#clearCompleted:hover,
.delete-button:hover {
  background-color: #6a2c70;
  cursor: pointer;
}

#taskinput:focus {
  outline: none;
  box-shadow: 0 0 5px #6a2c70;
}
